# Python Basics for Data Science 
### IntroPython2.1 Python Basics-Operators  
### IntroPython2.2 Python Basics-Variables and Data Types
### IntroPython2.3 Python Basics-Data Structures
### IntroPython2.4 Python Basics-Functions and Methods
### IntroPython2.5 Python Basics-Create Our Own Function and Lambda
### IntroPython2.6 Python Basics-If Statement
### IntroPython2.7 Python Basics-Loops
### IntroPython2.8 Python Basics-Python Syntax Essentials and Best Practice
### IntroPython2.9 Python Basics-Import Statement and Important Built-in Modules
***

## Variables and Data Types

### Variable Assignments (Assignment operator is `=`)

In Python we like to assign values to variables just like other data science software (SAS, R, etc.): **more flexible, reusable and 
understandable**. 

- shouldn't start with `numbers`

- shouldn't start with `special symbols`

- use `_` to separate different words (vs. RStudio: use `.` to separate commonly)

- use `#` to make comments

In [3]:
b=4
b

4

In [4]:
# Example:
3b=4

SyntaxError: invalid syntax (<ipython-input-4-1d3889f609b5>, line 2)

In [5]:
# Example:
$x=1

SyntaxError: invalid syntax (<ipython-input-5-6b5d5e671b62>, line 2)

In [6]:
&b=3

SyntaxError: invalid syntax (<ipython-input-6-d7e1ae156dc9>, line 1)

In [7]:
name_var =1
# name_var


### Data Types:

- Numbers
- Strings
- Lists
- Dictionaries (Note: in python, data structure dictionary can be used as the dict data type)
- Booleans
- Tuples
- Sets


#### Let’s us store some attributes (name, age, is_vaccinated, birth_year, etc.) of my dog Sandy in Python variables and type into a Jupyter Notebook cell:

- dog_name = 'Sandy'      # Data type: `str` (short for string)
- age = 7                 # Data type: `int` (short for integer)
- is_vaccinated = True    # Data type: `bool` (short for Boolean)
- height = 1.5            # Data type: `float` (short for floating)
- birth_year = 2013       # Data type: `int`

#### Note: There are many more data types, but as a start, knowing these four will be a good starting point

In [8]:
dog_name = 'Sandy'      # Data type: str (short for string)
age = 7                 # Data type: int (short for integer)
is_vaccinated = True    # Data type: bool (short for Boolean)
height = 1.5            # Data type: float (short for floating)
birth_year = 2013       # Data type: int

Note: we could have done this one per cell. But this all-in-one solution was easier and more elegant.

From now on, if we type these variables, the assigned values will be returned:

In [9]:
dog_name

'Sandy'

In [10]:
age

7

In [11]:
height

1.5

In [12]:
birth_year

2013

### Just like in SAS, R, and SQL, Python has different data types.

1. For instance the dog_name variable holds a string: 'Sandy'. In Python 3, **a `string` is a sequence of Unicode characters** (eg. numbers, letters, punctuation, etc.), so it can have numbers or exclamation marks or almost anything (eg. ‘R2-D2’ is a valid string). In Python it’s super easy to identify a string as it’s usually between quotation marks.

In [13]:
# String - use single or double quotes
"I can't do it"

"I can't do it"

In [14]:
x="I can't do it"; x

"I can't do it"

In [15]:
print(x)

I can't do it

In [16]:
Sandy=7
Zoey =0.3

In [17]:
'My old dog Sandy is {} and my younger dog Zoey is {}'.format(Sandy,Zoey)

'My old dog Sandy is 7 and my younger dog Zoey is 0.3'

In [18]:
print('My old dog Sandy is {} and my younger dog Zoey is {}'.format(Sandy,Zoey))

My old dog Sandy is 7 and my younger dog Zoey is 0.3

In [19]:
# flexible about the order of a and b and it is one of the recommended ways

print('My old dog Sandy is {a} and my younger dog Zoey is {b}'.format(a=Sandy,b=Zoey))

My old dog Sandy is 7 and my younger dog Zoey is 0.3

#### Zero-indexing

In [20]:
nums='012345678'

In [21]:
# take everything
nums[:]

'012345678'

In [22]:
# take everything and beyond it
nums[0:]

'012345678'

In [23]:
# take everything up to but not including 4
nums[:4]

'0123'

In [24]:
nums[2:4]

'23'

2. The age and the birth_year variables store integers (7 and 2013), which is a **`numeric`** Python data type. Another numeric data type is `float`, in our example: height, which is 1.5.

3. The is_vaccinated’s True value is a so called Boolean value. **`Booleans`** can be only True or False.

### Built-In Data Types
At a high level, there are two main data types: **numbers and words**. However, there are some complexities which novice programmers often miss. We will also introduce the Boolean type. For the purpose of this class, we will skip types such as bytes, complex data types, etc.

### Numbers
There are actually two common number types: `integer style numbers` and `decimal style numbers` (aka floating point numbers). In Python, these are called `int` and `float`. Integers don't have any decimal parts while floating point numbers do.

#### Use the function `type()` to find the type of an expression

In [1]:
type(100)

int

In [2]:
type(3.14)

float

In [3]:
type( 100 + 3.14 )

float

In [4]:
type(print)

builtin_function_or_method

#### Exercise: What is the type of "100"?

In [5]:
# Try it here

#### Words and Characters
Python has a single type to represent words and characters. This data type is usually called a string (sometimes abbreviated as **`str`** or spelled out as **string**). Imagine a string as a long strand, connecting characters.

Python has an **str** type to represent strings (and characters).

In [6]:
type("hello!")

str

In [7]:
type('hello!')

str

In [8]:
type("a")

str

#### Exercise: What is the type of 1 vs "1"?

In [33]:
# Try it here

#### Exercise: What happens if we add two strings?

In [34]:
"hello" + "world"

'helloworld'

In [35]:
"1" + "2" # What is going on here?

'12'

### Boolean (True and False)

Python is among those languages which provide a way to represent True and False directly. This data type is unexpectedly common in programming languages. 

`Example`: if you ask Python if 5 is greater than 3, the answer will be a boolean value (True). 

Numeric values have associated operations we are used to from school: addition, subtraction, etc. 

String types have natural function associated with them such as upper case, lower case, combining strings, etc. 

Similarly, there is a "Boolean algebra." 

In many languages, even widely used ones like C, there is no explicit Boolean type. Instead, the number `0` is used to represent false and `1` is used to represent true.

Although Python has `True` and `False` keywords, they are actually just aliases for `1` and `0`, respectively.

#### Real world examples

While numbers and strings are natural to us, the Boolean type needs some context. As you will see in the example below, comparing things requires an answer that is either true or false. 

Since computers are so good at doing repetitive tasks (executing loops), we need to tell the computer when to stop executing a loop. This is done by using Booleans: keep doing something, until the value of a Boolean is set to false.

Although such statements haven't been introduced yet, you have probably heard of if/else statements. This is one of the most common ways computers choose between options. Booleans are an integral part of such decision. if a Boolean value is True, then do this thing, else do something else. The operations carried out by your program depend on the value of a Boolean value.

In [36]:
type(True)

bool

In [37]:
type(False)

bool

In [38]:
5 > 3 # Is 5 greater than 3?

True

In [39]:
type(2 > 3)

bool

In [40]:
2==2  # Is 1 EQUAL to 2?

True

In [41]:
1 != 2 #is 1 NOT EQUAL to 2? or is 1 different from 2?

True

#### It’s important to know that in Python every variable is overwritable.

In [11]:
dog_name = 'sandy'

In [12]:
# If we reassign dog_name:
dog_name = 'Zoey'

In [13]:
dog_name

'Zoey'

### Complex number: use  `j` to specify the imaginary part

In [45]:
x = 1.0 - 1.0j
type(x)

complex

In [46]:
print(x)

(1-1j)

In [47]:
print(x.real, x.imag)

1.0 -1.0

#### Sets: A collection of unique elements

`{`element1, element2,element3,...`}`

In [17]:
{1,2,3}

{1, 2, 3}

In [18]:
{1,1,1,1,1,2,2,2,2,3,3,3,3,2}

{1, 2, 3}

In [19]:
# set() function can be used to a set of repeated elements to return a set of unique elements
set([1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,5,6])

{1, 2, 3, 4, 5, 6}

In [51]:
set1 = {1,2,3}

In [52]:
set1.add(4)

In [53]:
set1

{1, 2, 3, 4}

In [54]:
set1.add(3)

In [55]:
set1

{1, 2, 3, 4}

### Data Type Conversion

Say you read a file which contains a line containing this: "Good Afternoon". You know that is a string type. What if the line contains 10? When Python gets input from the outside world, it has no idea if it is dealing with an integer, float, a picture or an audio file of a song. It assumes everything is a string. So, there are several functions which convert from one type to another.

In [56]:
type(100)

int

In [57]:
type("100")

str

In [58]:
type(int("100"))

int

Notice that the `int` function converted a string to an integer. What if we hadn't convert "100" to a numeric value?

In [14]:
"100" + "200"

'100200'

In [15]:
int("100") + int("200")

300

In [16]:
int("100.2")

ValueError: invalid literal for int() with base 10: '100.2'

In [62]:
float("100.2")

100.2

In [63]:
float("100")

100.0

In [64]:
type(float("100")) # Do you expect the output of this cell to be 'int' or 'float'?

float

#### How about the other way, given an integer or a float, how do we convert it to a string?

In [65]:
"Homer is " + 34 + " years old"

TypeError: can only concatenate str (not "int") to str

In [66]:
"Homer is " + str(34) + " years old"

'Homer is 34 years old'

In [67]:
str(1234.567)

'1234.567'

### Python Variables – Basic Operators

Let’s define two new variables a and b:

In [68]:
a = 3
b = 4

|  **Operator**  |      **What Does It Do**                         | **Example Result**  |
|---             |---                                               |---                  |
|a + b           |Adds a to b                                       |        7            |
|a - b           |Subtract b from a                                 |        -1           |
|a * b           |Multiply a by b                                   |        12           |
|a / b           |Divide a by b                                     |        0.75         |
|b % a           |Modulus: Divide b by a to return remainder        |         1           |
|a ** b          |a raised to the power of b                        |        81           |

In [69]:
a+b

7

In [70]:
a-b

-1

In [71]:
a*b

12

In [72]:
a/b

0.75

In [73]:
b%a

1

In [74]:
a**b

81

#### Comparison Operators
We can use some variables with comparison operators. The results will always be Boolean values. (Remember, Booleans can be only True or False.)

In [75]:
# Example: a and b are still 3 and 4.

|Operator	|What does it do?	                   |Result in our example    |
|---        |---                                   |---                      |
|a > b	    |Evaluate if a is greater than b       |          False          |
|a < b	    |Evaluate if a is less than b	       |          True           |
|a == b	    |Evaluate if a equals b	               |          False          |

In [76]:
a>b

False

In [77]:
a<b

True

In [78]:
a==b

False

In [79]:
a!=b

True

And we can use logical operators on our variables. 
Let’s define c and d first:

In [80]:
c = True
d = False

|Operator	 |What does it do?	                 |Result in our example   |
|---         |---                                |---                     |
|c and d   	 |True if both c and d are True	     |False                   |
|c or d	     |True if either c or d is True	     |True                    |
|not c	     |The opposite of c	                 |False                   |

In [81]:
c and d

False

In [82]:
c or d

True

In [83]:
not c

False

In [84]:
if 1<2:
    print("Right")

Right

In [85]:
if True:
    print("Great")

Great

In [86]:
if True:
    X=2+3

X

5

In [87]:
if 1==3:
    print("Right")
else:
    print("Wrong")

Wrong

In [88]:
if 1==2:
    print("Right")
elif 1==1:
    print("Right1")  # When there are multiple true conditions, only execute the first true condition 
elif 2==2:
    print("Right2")
else:
    print("Whatever")

Right1

#### Exercise 1

In [89]:
a = 1
b = 2
c = 3
d = True
e = 'cool'

In [90]:
# What will be the returned data type and the exact result of this operation?
a == e or d and c > b

True

In [91]:
(a == e) or d and (c > b)

True

In [92]:
not a == e or d and not c > b

True

In [93]:
1<2 and 2<3

True

In [94]:
True and False

False

**The evaluation order of the logical operators is: 1. `not` 2. `and` 3. `or`**

Here’s the solution: True.
Why?
Let’s see! Using the previous exercise’s logic, this is what we have:`not False` **or** `True` **and** `not True`

As we have discussed, the first logical operator evaluated is the not. After firing all the nots, this is what we have:
True or True and False

The second step is to evaluate the and operator. Translated it’s:
True or (True and False), which leads to True or False.

And the last step is the or:
True or False –» True

#### Once a variable is assigned a value, you should be able to substitute the variable any place that value is expected

In [95]:
x=100

In [96]:
x+2

102

In [97]:
x=200

In [98]:
x

200

#### You can create an expression where a variable is assigned to itself. This is used when you are aggregatign values in a loop.

In [99]:
x=x+1

In [100]:
x

201

### Exercise:  
The formula for maximum safe heart rate is 220 - age. In the cell below, set the age variable and execute the cell to find out what your max heart rate

In [101]:
age = 44
MHR = 220 - age
MHR

176

#### Note: The course materials are developed mainly based on personal experience and contributions from the Python learning community
Referred book: Learning Python, 5th Edition by Mark Lutz